<style>
    .bill-container {
        max-height: 700px;
        overflow: auto;
    }
    .user-container {
        margin-bottom: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>
{% extends 'admin/base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class="mt-3">
    <h1>結帳通知</h1>
    <table class="table">
        <thead>
          <tr>
            <th class="col-8">員工名稱</th>
            <th class="col-4 text-end">未結帳金額</th>
          </tr>
        </thead>
    </table>
    {% for b in bill_data %}
        <div class="card my-2" data-bs-toggle="collapse" href="#collapseExample-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapseExample-{{ loop.index }}">
            <div class="card-body row">
                <div class="col-8">{{ b.user.username }}</div>
                <div class="col-4 text-end">{{ b.detail | sum(attribute='amount') }}</div>
            </div>
        </div>
        <div class="collapse" id="collapseExample-{{ loop.index }}">
            <table>
                <thead>
                    <tr>
                        <th>結帳月份</th>
                        <th>金額</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in b['detail'] %}
                    <tr>
                        <td>{{ d.date.strftime('%Y-%m') }}</td>
                        <td>{{ d.amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    <form method="POST" action="{{ url_for('admin.send_bill') }}" style="text-align: right;">
        <input type="hidden" name="send_mail" value="1">
        <button type="submit" class="btn btn-danger mx-2" style="text-align: right;">Send Mail</button>
    </form>
</div>
{% endblock %}