<style>
    .bill-container {
        max-height: 700px;
        overflow: auto;
    }
    .user-container {
        margin-bottom: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
</style>
{% extends 'admin/base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class="mt-3">
    <h1>結帳通知</h1>
    <table class="table">
        <thead>
          <tr>
            <th class="col-8">員工名稱</th>
            <th class="col-4 text-end">金額</th>
          </tr>
        </thead>
    </table>
    {% for user_id, bill_data in user_bill_data.items() %}
        
        <div class="card my-2" data-bs-toggle="collapse" href="#collapseExample-{{ loop.index }}" role="button" aria-expanded="false" aria-controls="collapseExample-{{ loop.index }}">
            <div class="card-body row">
                <div class="col-8">{{ user_id_to_name[user_id] }}</div>
                <div class="col-4 text-end">{{ bill_data | sum(attribute=0) }}</div>
            </div>
        </div>
        <div class="collapse" id="collapseExample-{{ loop.index }}">
            <table>
                <thead>
                    <tr>
                        <th>Month</th>
                        <th>Amounts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for amount, year, month in bill_data %}
                    <tr>
                        <td>{{ "{:02d}".format(month) }}/{{ year }}</td>
                        <td>{{ amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    <div style="text-align: right;">
        <button class="btn btn-danger mx-2" style="text-align: right;">Send Mail</button>
    </div>
</div>
{% endblock %}