{% extends 'clerk/base.html' %}

{% block title %}Clerk{% endblock %}

{% block content %}
  <h1>新增訂單-員工身分</h1>
    <form action="{{ url_for('clerk.register_customer') }}" method="POST">
        <label for="customer_id">員工編號：</label>
        <input type="text" id="customer_id" name="customer_id">
        <button type="submit">確認</button>
    </form>
    {% if customer_data %}
        <p>Welcome, {{ customer_data.username }}</p>
        <a class="btn btn-success mx-2" href="{{ url_for('clerk.new_order') }}">下一步</a>
    {% endif %} 
{% endblock %}