{% extends 'base.html' %}

{% block content %}
  <br>
  <form method="get" action="{{ url_for('home.index')}}">
    <!-- <label style="font-size: 25px;">篩選標籤：</label><br> -->
    <div style="display: inline-block; margin-right: 20px;">
      <input type="radio" id="all" name="tag" value="" {% if not request.args.get('tag') %}checked{% endif %} onchange="this.form.submit()" style="transform: scale(1.5);">
      <label for="all" style="font-size: 25px;">所有</label>
    </div>
    <div style="display: inline-block; margin-right: 20px;">
      <input type="radio" id="中式" name="tag" value="中式" {% if request.args.get('tag') == '中式' %}checked{% endif %} onchange="this.form.submit()" style="transform: scale(1.5);">
      <label for="中式" style="font-size: 25px;">中式</label>
    </div>
    <div style="display: inline-block; margin-right: 20px;">
      <input type="radio" id="西式" name="tag" value="西式" {% if request.args.get('tag') == '西式' %}checked{% endif %} onchange="this.form.submit()" style="transform: scale(1.5);">
      <label for="西式" style="font-size: 25px;">西式</label>
    </div>
    <div style="display: inline-block; margin-right: 20px;">
      <input type="radio" id="日式" name="tag" value="日式" {% if request.args.get('tag') == '日式' %}checked{% endif %} onchange="this.form.submit()" style="transform: scale(1.5);">
      <label for="日式" style="font-size: 25px;">日式</label>
    </div>
    <div style="display: inline-block; margin-right: 20px;">
      <input type="radio" id="飲料" name="tag" value="飲料" {% if request.args.get('tag') == '飲料' %}checked{% endif %} onchange="this.form.submit()" style="transform: scale(1.5);">
      <label for="飲料" style="font-size: 25px;">飲料</label>
    </div>
    <div style="display: inline-block; margin-right: 20px;">
      <input type="radio" id="甜點" name="tag" value="甜點" {% if request.args.get('tag') == '甜點' %}checked{% endif %} onchange="this.form.submit()" style="transform: scale(1.5);">
      <label for="甜點" style="font-size: 25px;">甜點</label>
    </div>
  </form>
  <hr>
  {% for restaurant in restaurants %}
    <article class="post">
      <header>
        <div>
          <h1>{{ restaurant.name }}</h1>
          <a href="{{ url_for('restaurant.index', id=restaurant.id) }}">
            <button style="border-radius: 8px;">menu</button>
          </a>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}