{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<div style="min-height:20vh;">
</div>
<div>
  <form method="post" class="m-auto border border-dark-subtle rounded p-3" style="max-width:30rem">
    <div>
      <h2>登入</h2>
    </div>
    <div class="mb-3">
      <label class="form-label" for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <a class="mx-2" href="{{ url_for('auth.register') }}">註冊帳號</a>
  </form>
</div>
{% endblock %}